In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [5]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sb
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import math
import pylab
import scipy.stats as stats
%matplotlib inline

In [4]:
# Loading listing dataset
file_path = "Resources/listings_with_zips.csv"
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,Unnamed: 0.1,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip
0,0,0,2539,2787,9.0,Kensington,40.64529,-73.97238,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218
1,1,1,2595,2845,6.0,Midtown,40.75356,-73.98559,Entire rental unit,Entire home/apt,1,NaN,1.0,$175.00,30,0,49,4.68,10110
2,2,2,5121,7356,2.0,Bedford-Stuyvesant,40.68535,-73.95512,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216
3,3,3,45910,204539,7.0,Ridgewood,40.70309,-73.89963,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385
4,4,4,5136,7378,1.0,Sunset Park,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215

In [6]:
# Determine if there are any missing values in the data
df.count()

Unnamed: 0                39881
Unnamed: 0.1              39881
id                        39881
host_id                   39881
host_listings_count       39831
neighbourhood_cleansed    39881
latitude                  39881
longitude                 39881
property_type             39881
room_type                 39881
accommodates              39881
bedrooms                  36098
beds                      38997
price                     39881
minimum_nights            39881
availability_30           39881
number_of_reviews         39881
review_scores_rating      31519
zip                       39881
dtype: int64

In [7]:
# Find null values
for column in df.columns:
    print(f"Column {column} has {df[column].isnull().sum()} null values")

Column Unnamed: 0 has 0 null values
Column Unnamed: 0.1 has 0 null values
Column id has 0 null values
Column host_id has 0 null values
Column host_listings_count has 50 null values
Column neighbourhood_cleansed has 0 null values
Column latitude has 0 null values
Column longitude has 0 null values
Column property_type has 0 null values
Column room_type has 0 null values
Column accommodates has 0 null values
Column bedrooms has 3783 null values
Column beds has 884 null values
Column price has 0 null values
Column minimum_nights has 0 null values
Column availability_30 has 0 null values
Column number_of_reviews has 0 null values
Column review_scores_rating has 8362 null values
Column zip has 0 null values

In [8]:
# Drop null rows
df = df.dropna()

In [15]:
# Find duplicate entries
print(f"Duplicate entries: {df.duplicated().sum()}")

Duplicate entries: 0

In [ ]:
# Remove the Unanamed: 0 and  Unnamed: 0.1 Column
df.drop(columns=["Unnamed: 0"], inplace=True)
df.drop(columns=["Unnamed: 0.1"], inplace=True)

In [17]:
df.head()

,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip
0,2539,2787,9.0,Kensington,40.64529,-73.97238,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218
2,5121,7356,2.0,Bedford-Stuyvesant,40.68535,-73.95512,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216
3,45910,204539,7.0,Ridgewood,40.70309,-73.89963,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385
4,5136,7378,1.0,Sunset Park,40.66265,-73.99454,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215
6,77765,417504,30.0,Greenpoint,40.73777,-73.95366,Room in boutique hotel,Hotel room,2,1.0,1.0,$308.00,2,15,42,4.90,11109

In [18]:
# Fill in the empty rows with "0"
df=df.fillna(0)
df

,id,host_id,host_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,price,minimum_nights,availability_30,number_of_reviews,review_scores_rating,zip
0,2539,2787,9.0,Kensington,40.645290,-73.972380,Private room in rental unit,Private room,2,1.0,1.0,$299.00,30,21,9,4.89,11218
2,5121,7356,2.0,Bedford-Stuyvesant,40.685350,-73.955120,Private room in rental unit,Private room,2,1.0,1.0,$60.00,30,5,50,4.52,11216
3,45910,204539,7.0,Ridgewood,40.703090,-73.899630,Entire townhouse,Entire home/apt,16,5.0,10.0,$425.00,30,30,13,4.42,11385
4,5136,7378,1.0,Sunset Park,40.662650,-73.994540,Entire rental unit,Entire home/apt,4,2.0,2.0,$275.00,21,0,3,5.00,11215
6,77765,417504,30.0,Greenpoint,40.737770,-73.953660,Room in boutique hotel,Hotel room,2,1.0,1.0,$308.00,2,15,42,4.90,11109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39871,38361585,290452185,1.0,Cambria Heights,40.702410,-73.724930,Private room in guest suite,Private room,2,2.0,3.0,$125.00,27,3,6,5.00,11411
39873,42971489,40898359,5.0,West Village,40.739967,-74.031677,Private room in rental unit,Private room,6,2.0,2.0,$150.00,1,0,3,5.00,10014
39876,43728504,23049030,5.0,Rockaway Park,40.581060,-73.829850,Entire home,Entire home/apt,2,1.0,1.0,$157.00,3,0,33,4.91,11694
39877,44578886,48009648,1.0,Upper West Side,40.784590,-74.012530,Entire rental unit,Entire home/apt,4,1.0,2.0,$108.00,3,0,52,4.79,10069
39878,46355090,371552251,1.0,Bellerose,40.723410,-73.722350,Entire rental unit,Entire home/apt,2,1.0,2.0,$140.00,3,0,11,4.45,11426

In [19]:
# Determine data types for the DataFrame.
df.dtypes

id                          int64
host_id                     int64
host_listings_count       float64
neighbourhood_cleansed     object
latitude                  float64
longitude                 float64
property_type              object
room_type                  object
accommodates                int64
bedrooms                  float64
beds                      float64
price                      object
minimum_nights              int64
availability_30             int64
number_of_reviews           int64
review_scores_rating      float64
zip                         int64
dtype: object

In [ ]:
target= []

In [20]:
# Saving cleaned data
file_path = "Resources/listings_data_cleaned.csv"
df.to_csv(file_path, index=False)